# 💻 vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# 🗃️ git
.gitconfig

# 🗃️ databases
*.db

# 🔐 secrets
.env*
.private*
!.env
!.env.sample

# 📜 logs
logs/

# 📦 dependencies
node_modules/