# 🤖 Discord (https://discord.com/developers/)
TOKEN = "<discord-token>"


# ⬇️ the values below are optional (meaning that they can be removed) when disabling @magicalbunny31/fennec-utilities functionality (step 7. of 💻 setup in the readme)
# ⬇️ as my ci/cd pulls this repository to build and host the app, i would prefer my secret strings to stay secret here~


# 💻 fennec-utilities (https://nuzzles.dev/dev/fennec/utilities/)
FENNEC_UTILITIES_URL           = "<url>"
FENNEC_UTILITIES_AUTHORISATION = "<api-key>"


# ⬇️ the values below are optional (meaning that they can be removed) if you're not using firestore as your database (aka: if you're setting the `isFirestore` variable to `false` inside your /src/data/config.js file)
# ⬇️ as my ci/cd pulls this repository to build and host the app, i would prefer my secret strings to stay secret here~


# 🔑 Google Cloud Platform (https://cloud.google.com/)
GCP_PROJECT_ID   = "<id>"
GCP_CLIENT_EMAIL = "<email>"
GCP_PRIVATE_KEY  = "<private-key>"


# ⬇️ the values below are optional (meaning that they can be removed) if you prefer to store these secret strings inside your /src/data/config.js file or /src/data/user-agent.js file directly
# ⬇️ as my ci/cd pulls this repository to build and host the app, i would prefer my secret strings to stay secret here~


# ☁️ Roblox Open Cloud (https://create.roblox.com/docs/open-cloud/)
ROBLOX_OPEN_CLOUD_API_KEY_<UNIVERSE_ID> = "<api-key>"


# 🤖 Bloxlink API (https://blox.link/)
BLOXLINK_SERVER_KEY_<GUILD_ID> = "<api-key>"


# 🔗 moderation logs discord webhooks
DISCORD_LOGS_WEBHOOK_URL_<GUILD_ID> = "<url>"